@import url(./variable.css);
@import url(./root.css);

html {
  transition: 300ms all !important;
  font-size: 16px;
}

body {
  overflow: hidden;
}

.dark {
  background: var(--dark-mode);
}

.dark {
  .question {
    background: #3b4d66;
  }
  .title {
    color: #fff;
    opacity: 1;
  }
  .bottom-title {
    color: #abc1e1;
  }
}

.light {
  background: var(--light-mode);
}

.chakra-button {
  background: transparent;
  height: fit-content;
}
